/* * */
* {
  min-width: 350px;

  box-sizing:border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  text-align: center;
  color: black;

}


/* 레이아웃 */
#wrap {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
#header {
  width: 100%;
  height: 80px;
  background-color: rgb(52, 208, 149);
}
#main {
  width: 100%;
  height: 800px;
  background-color: rgb(90, 105, 213);
  position: relative;

}
#footer {
  width: 100%;
  background-color: rgb(39, 39, 39);
  position: relative;
  height: 260px;
}

/* 헤더 */

#header #logo {
  margin: 0 auto;
  display: inline-block;
  font-size: 32px;
  font-weight: 600;
  text-decoration: none;
  color: rgb(255, 255, 255);
  height: 75px;
  background-image: url(../images/free-icon-tarantula-4484333.png);
  background-size: 100px 100px;
  background-position: center;
  background-repeat: no-repeat;


}
/* 메인 */
#main #section1 {
  position: relative;
  margin: 0 auto;
  width: 40%;
  top: 60px;
  background-color: #fff;
  height: 640px;
  border-radius: 10px;
}
#main #section1 #h2{
  display: inline-block;
  margin: 25px;

}
#main #section1 p{
  font-size: 20px;
}
#main #section1 #start{
  background-image: url(../images/giphy.gif);
  margin: 0 auto;
  display: inline-block;
  background-size: 350px;
  background-repeat: no-repeat;
  background-position: center center;
  height: 350px;
  margin: 30px auto;
}
#main #section1 a .start_btn{
  min-width: 200px;
  margin: 0 auto;
  width: 300px;
  height: 50px;
  border-radius: 10px;
  border-bottom: 3px solid;
  border-right: 3px solid;
}
#main #section1 .start_btn:hover{
  cursor: pointer;
}

/* 푸터 */

#footer .fot1{
  position: absolute;
  width: 80%;
  margin: 0 200px;

  height: 100%;
  padding: 20px;
}
#footer .fot1 hr{
  margin-top: 3px;
  background-color:#dadada;
  border: 1px solid ;
}

#footer .fot1 h3{
  margin-top: 10px;
  color: #999999;
  font-weight: 100;
  font-size: 26px;
  text-align: initial;
}
#footer .fot1 .info{
  text-align: initial;
  font-family: sans-serif;
  color: #888888;
}