/* 베이직 */
* {
  font-family: 'Jua', sans-serif;
  box-sizing: border-box;
  text-align: center;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  
}

/* 레이아웃 */

#wrap{ 
  width: 100%;
  background-color:rgb(90, 105, 213);
  
}
#header {
  width: 100%;
  background-color: rgb(52, 208, 149);
  margin: 0;
}
#main {
  width: 100%;
  background-color: rgb(90, 105, 213);
}
#footer {
  width: 100%;
  background-color: rgb(39, 39, 39);
  position: relative;
  height: 260px;
}

/* 헤더 */
#header #logo {
  display: inline-block;
  background-image: url(../images/free-icon-tarantula-4484333.png);
  background-size: 60% 80px;
  background-repeat: no-repeat;
  background-position: center;
  width: 10%;
  height: 80px;
  font-size: 40px;
  font-weight: bold;
  color: #ffffff;
}

/* 메인 */
/* 섹션 1 */
#main #sec1{
  background-color: rgb(90, 105, 213);
}
#main #sec1 #point{
  background-image: url(../images/div2_img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 800px;
  height: 600px;
  padding: 120px;
  margin: 0 auto;
}
#main #sec1 #point h1{
  
  font-size: 70px;
  margin-bottom: 20px;
  color: black;
}
#main #sec1 #point p{
  
  font-size: 120px;
  color: black;
}
#main #sec1 #point p span{
  color: rgb(110, 110, 110);
}
/* 섹션 2 */
#main #sec2{
  background-color: rgb(90, 105, 213);
}
#main #sec2 #cate{
  background-color: rgb(90, 105, 213);
  width: 70%;
  height: 600px;
  margin: 0 auto;
  display: flex;

}
#main #sec2 #cate .category1{
  background-color: #ffffff;
  width: 50%;
  height: 600px;
  border-radius: 20px;
  margin-right: 15px;


}
#main #sec2 #cate .category1 h2{
  margin: 15px auto 5px;
  font-size: 40px;
  color: rgb(78, 78, 78);
  font-weight: 100;


}
#main #sec2 #cate .category1 h3{
  font-size: 30px;
  color: rgb(121, 121, 121);
  font-weight: 100;
  margin-top: -15px ;
}
#main #sec2 #cate .category1 .title{
  font-size: 28px;
  color: black;
  font-weight: 100;
}
#main #sec2 #cate .category1 .desc{
  margin: 0 auto;
  font-size: 20px;
  color: black;
  font-weight: 100;
  width: 80%;

}

#main #sec2 #cate .category1 .cateimg{

 background-position: center;
  background-repeat: no-repeat;
  background-size: 400px 300px;
  margin: 0 auto 5px;
  width: 80%;
  height: 60%;
  margin-top: -10px;


}
#main #sec2 #cate .category2 .title1{
  font-size: 28px;
  color: black;
  font-weight: 100;
}
#main #sec2 #cate .category2 .desc1{
  margin: 0 auto;
  font-size: 20px;
  color: black;
  font-weight: 100;
  width: 80%;

}


#main #sec2 #cate .category2{
  background-color: #ffffff;
  width: 50%;
  height: 100%;
  border-radius: 20px;
  margin-left: 15px;
}
#main #sec2 #cate .category2 h2{
  margin: 15px auto 5px;
  font-size: 40px;
  color: rgb(78, 78, 78);
  font-weight: 100;
}
#main #sec2 #cate .category2 h3{
  font-size: 30px;
  color: rgb(121, 121, 121);
  font-weight: 100;
  margin-top: -15px ;
}
#main #sec2 #cate .category2 .title{
  font-size: 28px;
  color: black;
  font-weight: 100;
}
#main #sec2 #cate .category2 .desc{
  margin: 0 10px;
  font-size: 20px;
  color: black;
  font-weight: 100;
}

#main #sec2 #cate .category2 .cateimg1{
  background-position: center;
  background-repeat: no-repeat;
  background-size: 400px 300px;
  margin: 0 auto 5px;
  width: 80%;
  height: 60%;
  margin-top: -10px;
}
/* 섹션 3 */
#main #sec3{
  height: 700px;
  margin-top: 30px;
  padding-top: 50px;
  background-color: whitesmoke;
}
#main #sec3 #wrong_answer{
  background-color: whitesmoke;
  width: 70%;
  height: 600px;
  margin: 0 auto;
  display: flex;
  
}
#main #sec3 #wrong_answer h2 {
  margin: 15px auto 5px;
  font-size: 40px;
  color: rgb(78, 78, 78);
  font-weight: 100;
}
#main #sec3 #wrong_answer .wr{
  background-color: #ffffff;
  width: 50%;
  height: 100%;
  border-radius: 20px;
  margin-right: 15px;
}

#main #sec3 #wrong_answer .wr .wrong_ul{
  animation:slide 8s infinite;
  text-align: right;
}
#main #sec3 #wrong_answer .wr .wrong_ul li{
  width: 80%;
  margin: 0 auto;
}
#main #sec3 #wrong_answer .wr .wrong_ul .wrong_li2{
 
}

#main #sec3 #wrong_answer .wr .wrong_ul .wrong_li h4{}
#main #sec3 #wrong_answer .wr .wrong_ul .wrong_li p{}
#main #sec3 #wrong_answer .wr .wrong_ul .wrong_li p span{}

#main #sec3 #wrong_answer .wrrate{
  background-color: #ffffff;
  width: 50%;
  height: 100%;
  border-radius: 20px;
  margin-left: 15px;
}


/* 섹션 4 */
#main #sec4{
  padding: 50px;
  background-color: whitesmoke;

}
#main #sec4 .btns{
 width: 50%;
 margin: 20px auto;
}

#main #sec4 .btns a{
  margin: 0 auto;
  padding-top: 10px;
  color: black;
  display: block;
  border-radius: 20px;
  width: 355px;
  font-size: 30px;
  height: 60px;
  background-color: rgb(52, 208, 149);
  border: 2px solid black;
}

#main #sec4 .btns .btn2 {
  margin-top: 20px;
  border-radius: 10px;
  width: 50%;
  height: 60px;
  display: flex;
  display: inline-block;
}
#main #sec4 .btns .btn2 .share{
  border-radius: 20px;
  width: 100%;
  font-size: 30px;
  height: 100%;
}
#main #sec4 .btns .btn2 .share:hover{
  background: #888888;
  cursor: pointer;
}

/* 푸터 */
#footer .fot1{
  position: absolute;
  width: 80%;
  margin: 0 200px;

  height: 100%;
  padding: 20px;
}
#footer .fot1 hr{
  margin-top: 3px;
  background-color:#dadada;
  border: 1px solid ;
}

#footer .fot1 h3{
  margin-top: 10px;
  color: #999999;
  font-weight: 100;
  font-size: 26px;
  text-align: initial;
}
#footer .fot1 .info{
  text-align: initial;
  font-family: sans-serif;
  color: #888888;
}



@media (max-width: 768px) {
  .wrrate_ul{
    width: 100%;
  }
  .wrong_li1{
    margin: auto;
    width: 80%;
  }
  body{
    width: 100%;
  }
  #logosp {
    margin-left: -20px;
  }
  #wrap {
    width: 100%;
    background-color: rgb(90, 105, 213);

  }

  #header {
    width: 100%;
    background-color: rgb(52, 208, 149);
    margin: 0;
  }

  #main {
    width: 100%;
    background-color: rgb(90, 105, 213);
  }

  #footer {
    width: 100%;
    background-color: rgb(39, 39, 39);
    position: relative;
    height: 260px;
  }

  /* 헤더 */
  #header #logo {
    text-align: center;
    display: inline-block;
    background-image: url(../images/free-icon-tarantula-4484333.png);
    background-size: 80px 80px;
    background-repeat: no-repeat;
    background-position: center;
    width: 20%;
    height: 80px;
    font-size: 40px;
    color: #ffffff;
  }

  /* 메인 */
  /* 섹션 1 */
  #main #sec1 {
    background-color: rgb(90, 105, 213);
  }

  #main #sec1 #point {
    background-image: url(../images/div2_img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 400px;
    height: 300px;
    padding: 120px;
    margin: 0 auto;
  }

  #main #sec1 #point h1 {

    font-size: 30px;
    margin-bottom: 20px;
    color: black;
  }

  #main #sec1 #point p {

    font-size: 45px;
    color: black;
  }

  #main #sec1 #point p span {
    color: rgb(110, 110, 110);
  }

  /* 섹션 2 */
  #main #sec2 {
    background-color: rgb(90, 105, 213);
    height: 1300px;
  }

  #main #sec2 #cate {
    background-color: rgb(90, 105, 213);
    width: 80%;
    display: flex;
    display: inline-block;

  }

  #main #sec2 #cate .category1 {
  
    background-color: #ffffff;
    width: 100%;
    height: 600px;
    border-radius: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  #main #sec2 #cate .category1 h2 {
    margin: 15px auto 5px;
    font-size: 30px;
    color: rgb(78, 78, 78);
    font-weight: 100;
  }

  #main #sec2 #cate .category1 h3 {
    font-size: 25px;
    color: rgb(121, 121, 121);
    font-weight: 100;
    margin-top: -15px;
  }

  #main #sec2 #cate .category1 .title {
    font-size: 20px;
    color: black;
    font-weight: 100;
  }

  #main #sec2 #cate .category1 .desc {
    margin: 0 auto;
    font-size: 15px;
    color: black;
    font-weight: 100;
    width: 95%;

  }

  #main #sec2 #cate .category1 .cateimg {
       background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 80%;
    margin: 0 auto 5px;
    width: 80%;
    height: 60%;
    margin-top: -10px;
}



  #main #sec2 #cate .category2 .title1 {
    font-size: 20px;
    color: black;
    font-weight: 100;
  }

  #main #sec2 #cate .category2 .desc1 {
    font-size: 15px;
    color: black;
    font-weight: 100;
    width: 95%;

  }


  #main #sec2 #cate .category2 {
    background-color: #ffffff;
    width: 100%;
    border-radius: 20px;
    height: 600px;
    margin: 0;
  }

  #main #sec2 #cate .category2 h2 {
    margin: 15px auto 5px;
    font-size: 30px;
    color: rgb(78, 78, 78);
    font-weight: 100;
  }

  #main #sec2 #cate .category2 h3 {
    font-size: 25px;
    color: rgb(121, 121, 121);
    font-weight: 100;
    margin-top: -15px;
  }

  #main #sec2 #cate .category2 .title {
    font-size: 20px;
    color: black;
    font-weight: 100;
  }

  #main #sec2 #cate .category2 .desc {
    margin: 0 10px;
    font-size: 15px;
    color: black;
    font-weight: 100;
  }

  #main #sec2 #cate .category2 .cateimg1 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 80%;
    margin: 0 auto 5px;
    width: 80%;
    height: 60%;
    margin-top: -10px;
  }

  /* 섹션 3 */
  #main #sec3 {
    width: 100%;
    padding-top: 50px;
    background-color: whitesmoke;
    height: 1300px;

  }

  #main #sec3 #wrong_answer {
    background-color: whitesmoke;
    width: 80%;
    height: 600px;
    margin: 0 auto;
    display: inline-block;

  }

  #main #sec3 #wrong_answer h2 {
    margin: 15px auto 5px;
    font-size: 30px;
    color: rgb(78, 78, 78);
    font-weight: 100;
  }

  #main #sec3 #wrong_answer .wr {
    background-repeat: no-repeat;
    background-size: 400px 300px;
    width: 100%;
    height: 700px;
    margin: 0 auto;
  
  }

  #main #sec3 #wrong_answer .wr .wrong_ul {
    animation: slide 8s infinite;
    text-align: right;
  }

  #main #sec3 #wrong_answer .wr .wrong_ul li {
    width: 80%;
    margin: 0 auto;
  }

  #main #sec3 #wrong_answer .wr .wrong_ul .wrong_li2 {

  }

  #main #sec3 #wrong_answer .wr .wrong_ul .wrong_li h4 {
  }

  #main #sec3 #wrong_answer .wr .wrong_ul .wrong_li p {
  }

  #main #sec3 #wrong_answer .wr .wrong_ul .wrong_li p span {
  }

  #main #sec3 #wrong_answer .wrrate {
    background-color: #ffffff;
    width: 100%;
    border-radius: 20px;
    height: 700px;
    margin: 0 auto;
  }


  /* 섹션 4 */
  #main #sec4 {
    padding:200px 0 50px 0;
    background-color: whitesmoke;

  }

  #main #sec4 .btns {
    width: 50%;
    margin: 20px auto;
  }

  #main #sec4 .btns a {
    margin: 0 auto;
    padding-top: 10px;
    color: black;
    display: block;
    border-radius: 20px;
    width: 100%;
    font-size: 25px;
    height: 60px;
    background-color: rgb(52, 208, 149);
    border: 2px solid black;
  }

  #main #sec4 .btns .btn2 {
    margin-top: 20px;
    border-radius: 10px;
    width: 100%;
    height: 60px;
    display: flex;
    display: inline-block;
  }

  #main #sec4 .btns .btn2 .share {
    border-radius: 20px;
    width: 100%;
    font-size: 25px;
    height: 100%;
  }

  /* 푸터 */
  #footer .fot1 {
    position: absolute;
    width: 100%;
    margin: 0 10px;
    height: 100%;
  }

  #footer .fot1 hr {
    margin-top: 3px;
    background-color: #dadada;
    border: 1px solid;
  }

  #footer .fot1 h3 {
    margin-top: 10px;
    color: #999999;
    font-weight: 100;
    font-size: 26px;
    text-align: initial;
  }

  #footer .fot1 .info {
    text-align: initial;
    font-family: sans-serif;
    color: #888888;
  }
}


@media(max-width: 360px) {
  body{
    width: 100%;
  }
  #wrap {
    width: 100%;
    background-color: rgb(90, 105, 213);

  }

  #header {
    width: 100%;
    background-color: rgb(52, 208, 149);
    margin: 0;
  }

  #main {
    width: 100%;
    background-color: rgb(90, 105, 213);
  }

  #footer {
    width: 100%;
    background-color: rgb(39, 39, 39);
    position: relative;
    height: 260px;
  }

  /* 헤더 */
  #header #logo {
    display: inline-block;
    background-image: url(../images/free-icon-tarantula-4484333.png);
    background-size: 60% 80px;
    background-repeat: no-repeat;
    background-position: center;
    width: 40%;
    height: 80px;
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
  }

  /* 메인 */
  /* 섹션 1 */
  #main #sec1 {
    background-color: rgb(90, 105, 213);
  }

  #main #sec1 #point {
    background-image: url(../images/div2_img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px;
    height: 250px;
    padding: 50px;
    margin: 0 auto;
  }

  #main #sec1 #point h1 {

    font-size: 30px;
    margin-bottom: 20px;
    color: black;
  }

  #main #sec1 #point p {

    font-size: 45px;
    color: black;
  }

  #main #sec1 #point p span {
    color: rgb(110, 110, 110);
  }

  /* 섹션 2 */
  #main #sec2 {
    background-color: rgb(90, 105, 213);
    height: 900px;
  }

  #main #sec2 #cate {
    background-color: rgb(90, 105, 213);
    width: 70%;
    height: 600px;
    margin: 0 auto;

  }

  #main #sec2 #cate .category1 {
    background-color: #ffffff;
    width: 100%;
    height: 400px;
    border-radius: 20px;


  }

  #main #sec2 #cate .category1 h2 {
    margin: 15px auto 5px;
    font-size: 30px;
    color: rgb(78, 78, 78);
    font-weight: 100;


  }

  #main #sec2 #cate .category1 h3 {
    font-size: 25px;
    color: rgb(121, 121, 121);
    font-weight: 100;
    margin-top: -15px;
  }

  #main #sec2 #cate .category1 .title {
    font-size: 20px;
    color: black;
    font-weight: 100;
  }

  #main #sec2 #cate .category1 .desc {
    margin: 0 auto;
    font-size: 15px;
    color: black;
    font-weight: 100;
    width: 80%;

  }

  #main #sec2 #cate .category1 .cateimg {

    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 200px;
    margin: 0 auto 5px;
    width: 80%;
    height: 200px;
    margin-top: 10px;
}

  #main #sec2 #cate .category2 .title1 {
    font-size: 20px;
    color: black;
    font-weight: 100;
  }

  #main #sec2 #cate .category2 .desc1 {
    margin: 0 auto;
    font-size: 15px;
    color: black;
    font-weight: 100;
    width: 80%;

  }


  #main #sec2 #cate .category2 {
    background-color: #ffffff;
    width: 100%;
    height: 400px;
    border-radius: 20px;
  }

  #main #sec2 #cate .category2 h2 {
    margin: 15px auto 5px;
    font-size: 30px;
    color: rgb(78, 78, 78);
    font-weight: 100;
  }

  #main #sec2 #cate .category2 h3 {
    font-size: 25px;
    color: rgb(121, 121, 121);
    font-weight: 100;
    margin-top: -15px;
  }

  #main #sec2 #cate .category2 .title {
    font-size: 20px;
    color: black;
    font-weight: 100;
  }

  #main #sec2 #cate .category2 .desc {
    margin: 0 10px;
    font-size: 15px;
    color: black;
    font-weight: 100;
  }

  #main #sec2 #cate .category2 .cateimg1 {
   background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 200px;
    margin: 0 auto 5px;
    width: 80%;
    height: 200px;
    margin-top: 10px;

  }

  /* 섹션 3 */
  #main #sec3 {
    height: 2100px;
    padding-top: 50px;
    background-color: whitesmoke;
  }

  #main #sec3 #wrong_answer {
    background-color: whitesmoke;
    width: 70%;
    height: 1000px;
    margin: 0 auto;

  }

  #main #sec3 #wrong_answer h2 {
    margin: 15px auto 5px;
    font-size: 30px;
    color: rgb(78, 78, 78);
    font-weight: 100;
  }

  #main #sec3 #wrong_answer .wr {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    border-radius: 20px;

  }

  #main #sec3 #wrong_answer .wr .wrong_ul {
    animation: slide 8s infinite;
    text-align: right;
  }

  #main #sec3 #wrong_answer .wr .wrong_ul li {
    width: 80%;
    margin: 0 auto;
  }

  #main #sec3 #wrong_answer .wr .wrong_ul .wrong_li2 {

  }

  #main #sec3 #wrong_answer .wr .wrong_ul .wrong_li h4 {
  }

  #main #sec3 #wrong_answer .wr .wrong_ul .wrong_li p {
  }

  #main #sec3 #wrong_answer .wr .wrong_ul .wrong_li p span {
  }

  #main #sec3 #wrong_answer .wrrate {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }


  /* 섹션 4 */
  #main #sec4 {
    padding: 50px;
    background-color: whitesmoke;

  }

  #main #sec4 .btns {
    width: 50%;
    margin: 20px auto;
  }

  #main #sec4 .btns a {
    margin: 0 auto;
    padding-top: 10px;
    color: black;
    display: block;
    border-radius: 20px;
    width: 100%;
    font-size: 25px;
    height: 50px;
    background-color: rgb(52, 208, 149);
    border: 2px solid black;
  }

  #main #sec4 .btns .btn2 {
    margin-top: 20px;
    border-radius: 10px;
    width: 100%;
    height: 60px;
    display: flex;
    display: inline-block;
  }

  #main #sec4 .btns .btn2 .share {
    border-radius: 20px;
    width: 100%;
    font-size: 25px;
    height: 100%;
  }

  /* 푸터 */
  #footer .fot1 {
    position: absolute;
    width: 100%;
    margin: 0 20px;
    height: 100%;
    padding: 0;

  }

  #footer .fot1 hr {
    margin-top: 3px;
    background-color: #dadada;
    border: 1px solid;
  }

  #footer .fot1 h3 {
    margin-top: 10px;
    color: #999999;
    font-weight: 100;
    font-size: 20px;
    text-align: initial;
  }

  #footer .fot1 .info {
    text-align: initial;
    font-family: sans-serif;
    color: #888888;
  }
  .wrrate_ul{
    width: 100%;
  }
  .wrong_li1{
    width: 80%;
  }
}