

<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MZ세대 구조</title>
  <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
  <div id="wrap">
    <header id="header">
      <a href="./index.html" id="logo">spaiders</a>
    </header>
    <main id="main">
      <div id="section1">
        <h1 id="h2">MZ언어 테스트</h1>
        <p>나의 MZ언어 능력을 테스트해보세요!</p>
        <img id="start" src="../static/images/start.gif" alt="시작이미지">
        <a href="main.html">
          <button class="start_btn">시작하기</button>
        </a>
    
       
      </div>

    </main>
    <footer id="footer">
      <div class="fot1">
        <h3>spiders</h3>
        <hr>
        <br>
        <p class="info">신기영 &nbsp&nbsp&nbsp프론트엔드&nbsp&nbsp e_1240@naver.com</p>
        <p class="info">원예찬 &nbsp&nbsp&nbsp백엔드&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp이메일</p>
        <p class="info">이재호 &nbsp&nbsp&nbsp백엔드&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp spzulu75@naver.com</p>
        <p class="info">이지희 &nbsp&nbsp&nbsp백엔드&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp e0whae@gmail.com</p>
      </div>
    </footer>
  </div>
</body>
</html>